version: '3.8'

services:
  api:
    image: galapagos-api
    container_name: galapagos-api
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
     - '8001:8000'
    depends_on:
      - mongodb
      - neo4j
    volumes:
      - ./backend:/app
    environment:
      - MONGODB_URL=mongodb://mongodb:27017
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=pleaseletmein

  frontend:
    image: galapagos-frontend
    container_name: galapagos-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - '3000:80'
    depends_on:
      - api

  mongodb:
    image: mongodb/mongodb-community-server:latest
    container_name: galapagos-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=galapagos

  neo4j:
    image: neo4j:5.12.0
    container_name: galapagos-neo4j
    restart: unless-stopped
    ports:
      - "7475:7474"
      - "7688:7687"
    volumes:
      - neo4j-data:/data
      - neo4j-logs:/logs
    environment:
      - NEO4J_AUTH=neo4j/pleaseletmein
      - NEO4J_PLUGINS=["apoc", "graph-data-science"]
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*,gds.*
      - NEO4J_dbms_security_procedures_allowlist=apoc.*,gds.*

volumes:
  mongo-data:
  neo4j-data:
  neo4j-logs:
